<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Facebook.com, <%= @user.name %></h1>
    <p>
      user is: <%= @liker %>, Liked your post<br>
    </p>
  </body>
</html>